## Learning objectives

use requests to fetch HTML and parse pages with BeautifulSoup

select elements via CSS selectors and extract text/attributes (.text, ['href'], ['alt'], ['src'])

clean scraped text (e.g., .strip()) and construct absolute URLs by prefixing domains

build pandas DataFrames from scraped lists (names ↔ titles, states ↔ URLs, categories ↔ URLs)

extract specific media (e.g., image src by matching an alt string)

read HTML tables directly with pandas.read_html + StringIO (no BS4 needed)

document scraping steps and decisions clearly in code comments and markdown

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [169]:
myresponse = requests.get("https://datamine.purdue.edu/about/about-welcome/")

In [170]:
mysoup = BeautifulSoup(myresponse.content, 'html.parser')

In [171]:
mysoup.select('p[class = "purdue-home-cta-grid__card-name"]')

[<p class="purdue-home-cta-grid__card-name">Mark Daniel Ward</p>,
 <p class="purdue-home-cta-grid__card-name">Kevin Amstutz</p>,
 <p class="purdue-home-cta-grid__card-name">Ashley Arroyo</p>,
 <p class="purdue-home-cta-grid__card-name">Donald Barnes</p>,
 <p class="purdue-home-cta-grid__card-name">Brandt Barnes</p>,
 <p class="purdue-home-cta-grid__card-name">Maggie Betz</p>,
 <p class="purdue-home-cta-grid__card-name">Bryce Castle</p>,
 <p class="purdue-home-cta-grid__card-name">Cai Chen</p>,
 <p class="purdue-home-cta-grid__card-name">Doug Crabill</p>,
 <p class="purdue-home-cta-grid__card-name">Peter Dragnev</p>,
 <p class="purdue-home-cta-grid__card-name">Stacey Dunderman</p>,
 <p class="purdue-home-cta-grid__card-name">Jessica Gerlach</p>,
 <p class="purdue-home-cta-grid__card-name">Dan Hirleman</p>,
 <p class="purdue-home-cta-grid__card-name">Jessica Jud</p>,
 <p class="purdue-home-cta-grid__card-name">Kali Lacy</p>,
 <p class="purdue-home-cta-grid__card-name">Gloria Lenfestey</p>,
 <p class="purdue-home-cta-grid__card-name">Nicholas Lenfestey</p>,
 <p class="purdue-home-cta-grid__card-name">Naomi Mersinger</p>,
 <p class="purdue-home-cta-grid__card-name">Kim Rechkemmer</p>,
 <p class="purdue-home-cta-grid__card-name">Betsy Satchell</p>,
 <p class="purdue-home-cta-grid__card-name">Shakir Syed</p>,
 <p class="purdue-home-cta-grid__card-name">Fulya Gokalp Yavuz</p>]

In [194]:
#Actually question. I am just naming what will be in the dataframe. When it prints the data frame this is one column
NameStaff = [element.text for element in mysoup.select('p[class = "purdue-home-cta-grid__card-name"]')]

In [193]:
#Same as above 
Postions = [element.text for element in mysoup.select('p[class = "purdue-home-cta-grid__card-titleline"]')]

In [195]:
#This creates the data frame. I named the dataframe Jobtitles and the two columns Staff names and postions 
Jobtitles = pd.DataFrame({
        "Staff Names": NameStaff,
        "Position Titles": Postions
    })

In [178]:
print(Jobtitles)

           Staff Names                                    Position Titles
0     Mark Daniel Ward                                 Executive Director
1        Kevin Amstutz                              Senior Data Scientist
2        Ashley Arroyo                  Data Science Techincal Specialist
3        Donald Barnes                      Guest Relations Administrator
4        Brandt Barnes                                           Good Boy
5          Maggie Betz  Managing Director of The Data Mine at Indianap...
6         Bryce Castle            Corporate Partners Technical Specialist
7             Cai Chen            Corporate Partners Technical Specialist
8         Doug Crabill                              Senior Data Scientist
9        Peter Dragnev          Corporate Partners Technical Specialist
10    Stacey Dunderman             Lead Program Administration Specialist
11     Jessica Gerlach            Corporate Partners Technical Specialist
12        Dan Hirleman  Regional Director of The Data Mine of the Rockies
13         Jessica Jud             Senior Manager of Expansion Operations
14           Kali Lacy                        Associate Research Engineer
15    Gloria Lenfestey                           Senior Financial Analyst
16  Nicholas Lenfestey            Corporate Partners Technical Specialist
17     Naomi Mersinger  ASL Interpreter / Strategic Initiatives Coordi...
18      Kim Rechkemmer           Senior Program Administration Specialist
19      Betsy Satchell                    Senior Administrative Assistant
20         Shakir Syed        Managing Director of Corporate Partnerships
21  Fulya Gokalp Yavuz                           Director of Data Science

By Following Dr Ward's video, I pulled from the Purdue Data Mine staff all and found what line is the title for the 22 employees titles. By pulling only <p class and then removing the p[class = "purdue-home-cta-grid__card-titleline"] which brought me to the final answer of printing all 22 staff members job titles

## Question 2

In [179]:
import pandas as pd
import requests

In [180]:
myresponse = requests.get('https://www.nps.gov')

In [181]:
mysoup = BeautifulSoup(myresponse.content, 'html.parser')

In [182]:
#Name of States same way I did in question 1
myState = [element.text.strip() for element in mysoup.select('a[class = "dropdown-item dropdown-state"]')]

In [183]:
# Names the StateURL
StateURL = ['https://www.nps.gov' + element['href'] for element in mysoup.select('a[class = "dropdown-item dropdown-state"]')]

In [196]:
#I just copy and pasted but changed the titles
CoolState = pd.DataFrame({
        "States": myState,
        "State URL": StateURL
    })

In [185]:
print(CoolState)

                      States                               State URL
0                    Alabama  https://www.nps.gov/state/al/index.htm
1                     Alaska  https://www.nps.gov/state/ak/index.htm
2             American Samoa  https://www.nps.gov/state/as/index.htm
3                    Arizona  https://www.nps.gov/state/az/index.htm
4                   Arkansas  https://www.nps.gov/state/ar/index.htm
5                 California  https://www.nps.gov/state/ca/index.htm
6                   Colorado  https://www.nps.gov/state/co/index.htm
7                Connecticut  https://www.nps.gov/state/ct/index.htm
8                   Delaware  https://www.nps.gov/state/de/index.htm
9       District of Columbia  https://www.nps.gov/state/dc/index.htm
10                   Florida  https://www.nps.gov/state/fl/index.htm
11                   Georgia  https://www.nps.gov/state/ga/index.htm
12                      Guam  https://www.nps.gov/state/gu/index.htm
13                    Hawaii  https://www.nps.gov/state/hi/index.htm
14                     Idaho  https://www.nps.gov/state/id/index.htm
15                  Illinois  https://www.nps.gov/state/il/index.htm
16                   Indiana  https://www.nps.gov/state/in/index.htm
17                      Iowa  https://www.nps.gov/state/ia/index.htm
18                    Kansas  https://www.nps.gov/state/ks/index.htm
19                  Kentucky  https://www.nps.gov/state/ky/index.htm
20                 Louisiana  https://www.nps.gov/state/la/index.htm
21                     Maine  https://www.nps.gov/state/me/index.htm
22                  Maryland  https://www.nps.gov/state/md/index.htm
23             Massachusetts  https://www.nps.gov/state/ma/index.htm
24                  Michigan  https://www.nps.gov/state/mi/index.htm
25                 Minnesota  https://www.nps.gov/state/mn/index.htm
26               Mississippi  https://www.nps.gov/state/ms/index.htm
27                  Missouri  https://www.nps.gov/state/mo/index.htm
28                   Montana  https://www.nps.gov/state/mt/index.htm
29                  Nebraska  https://www.nps.gov/state/ne/index.htm
30                    Nevada  https://www.nps.gov/state/nv/index.htm
31             New Hampshire  https://www.nps.gov/state/nh/index.htm
32                New Jersey  https://www.nps.gov/state/nj/index.htm
33                New Mexico  https://www.nps.gov/state/nm/index.htm
34                  New York  https://www.nps.gov/state/ny/index.htm
35            North Carolina  https://www.nps.gov/state/nc/index.htm
36              North Dakota  https://www.nps.gov/state/nd/index.htm
37  Northern Mariana Islands  https://www.nps.gov/state/mp/index.htm
38                      Ohio  https://www.nps.gov/state/oh/index.htm
39                  Oklahoma  https://www.nps.gov/state/ok/index.htm
40                    Oregon  https://www.nps.gov/state/or/index.htm
41              Pennsylvania  https://www.nps.gov/state/pa/index.htm
42               Puerto Rico  https://www.nps.gov/state/pr/index.htm
43              Rhode Island  https://www.nps.gov/state/ri/index.htm
44            South Carolina  https://www.nps.gov/state/sc/index.htm
45              South Dakota  https://www.nps.gov/state/sd/index.htm
46                 Tennessee  https://www.nps.gov/state/tn/index.htm
47                     Texas  https://www.nps.gov/state/tx/index.htm
48                      Utah  https://www.nps.gov/state/ut/index.htm
49                   Vermont  https://www.nps.gov/state/vt/index.htm
50            Virgin Islands  https://www.nps.gov/state/vi/index.htm
51                  Virginia  https://www.nps.gov/state/va/index.htm
52                Washington  https://www.nps.gov/state/wa/index.htm
53             West Virginia  https://www.nps.gov/state/wv/index.htm
54                 Wisconsin  https://www.nps.gov/state/wi/index.htm
55                   Wyoming  https://www.nps.gov/state/wy/index.htm

Markdown notes and sentences and analysis written here.

## Question 3

In [23]:
#I imported Pandas to be able to create a data frame. I already imported requests as well but just extra
import pandas as pd
import requests

In [24]:
#This just gets the data from the website
BookDF = requests.get('https://books.toscrape.com/')

In [25]:
mysoup = BeautifulSoup(BookDF.content, 'html.parser')

In [26]:
#This names the category names
CategoryNames = [element.text.strip() for element in mysoup.select('li ul li a')]

In [27]:
#Names the category links
CategoryLink = ['https://books.toscrape.com/' + element ['href'] for element in mysoup.select('li ul li a')]

In [28]:
#Combines and makes dataset, the BookDF is pulling from the Pandas
BookData = pd.DataFrame({
        "Category": CategoryNames,
        "Links": CategoryLink
    })

In [29]:
print(BookData)

              Category                                              Links
0               Travel  https://books.toscrape.com/catalogue/category/...
1              Mystery  https://books.toscrape.com/catalogue/category/...
2   Historical Fiction  https://books.toscrape.com/catalogue/category/...
3       Sequential Art  https://books.toscrape.com/catalogue/category/...
4             Classics  https://books.toscrape.com/catalogue/category/...
5           Philosophy  https://books.toscrape.com/catalogue/category/...
6              Romance  https://books.toscrape.com/catalogue/category/...
7       Womens Fiction  https://books.toscrape.com/catalogue/category/...
8              Fiction  https://books.toscrape.com/catalogue/category/...
9            Childrens  https://books.toscrape.com/catalogue/category/...
10            Religion  https://books.toscrape.com/catalogue/category/...
11          Nonfiction  https://books.toscrape.com/catalogue/category/...
12               Music  https://books.toscrape.com/catalogue/category/...
13             Default  https://books.toscrape.com/catalogue/category/...
14     Science Fiction  https://books.toscrape.com/catalogue/category/...
15    Sports and Games  https://books.toscrape.com/catalogue/category/...
16       Add a comment  https://books.toscrape.com/catalogue/category/...
17             Fantasy  https://books.toscrape.com/catalogue/category/...
18           New Adult  https://books.toscrape.com/catalogue/category/...
19         Young Adult  https://books.toscrape.com/catalogue/category/...
20             Science  https://books.toscrape.com/catalogue/category/...
21              Poetry  https://books.toscrape.com/catalogue/category/...
22          Paranormal  https://books.toscrape.com/catalogue/category/...
23                 Art  https://books.toscrape.com/catalogue/category/...
24          Psychology  https://books.toscrape.com/catalogue/category/...
25       Autobiography  https://books.toscrape.com/catalogue/category/...
26           Parenting  https://books.toscrape.com/catalogue/category/...
27       Adult Fiction  https://books.toscrape.com/catalogue/category/...
28               Humor  https://books.toscrape.com/catalogue/category/...
29              Horror  https://books.toscrape.com/catalogue/category/...
30             History  https://books.toscrape.com/catalogue/category/...
31      Food and Drink  https://books.toscrape.com/catalogue/category/...
32   Christian Fiction  https://books.toscrape.com/catalogue/category/...
33            Business  https://books.toscrape.com/catalogue/category/...
34           Biography  https://books.toscrape.com/catalogue/category/...
35            Thriller  https://books.toscrape.com/catalogue/category/...
36        Contemporary  https://books.toscrape.com/catalogue/category/...
37        Spirituality  https://books.toscrape.com/catalogue/category/...
38            Academic  https://books.toscrape.com/catalogue/category/...
39           Self Help  https://books.toscrape.com/catalogue/category/...
40          Historical  https://books.toscrape.com/catalogue/category/...
41           Christian  https://books.toscrape.com/catalogue/category/...
42            Suspense  https://books.toscrape.com/catalogue/category/...
43       Short Stories  https://books.toscrape.com/catalogue/category/...
44              Novels  https://books.toscrape.com/catalogue/category/...
45              Health  https://books.toscrape.com/catalogue/category/...
46            Politics  https://books.toscrape.com/catalogue/category/...
47            Cultural  https://books.toscrape.com/catalogue/category/...
48             Erotica  https://books.toscrape.com/catalogue/category/...
49               Crime  https://books.toscrape.com/catalogue/category/...

Markdown notes and sentences and analysis written here.

## Question 4

In [96]:
myResponse = requests.get("https://www.gocomics.com/peanuts/1970/06/22")

In [94]:
mySoup = BeautifulSoup(myResponse.content, 'html.parser')

In [99]:
[element ['src'] for element in mySoup.select('img[alt = "Peanuts Comic Strip for June 22, 1970 "]')]

['https://assets.amuniversal.com/2181aa70f895013014ff001dd8b71c47']

In [8]:
#I Copied what Dr ward did instead of adding a different date
myResponses = requests.get("https://www.gocomics.com/peanuts/2004/10/05")

In [9]:
#Renamed and added myResponses
mySoups = BeautifulSoup(myResponses.content, 'html.parser')

In [11]:
#Input everything else
[element['src'] for element in mySoups.select('img[alt = "Peanuts Comic Strip for October 05, 2004 "]')]

['https://assets.amuniversal.com/282ff900f868013014ce001dd8b71c47']

In [18]:
#I just copied from the other two but put a different date instead
myResponsed = requests.get("https://www.gocomics.com/peanuts/2014/08/08")

In [19]:
#Renamed and added myResponsed and changed the name
mySouped = BeautifulSoup(myResponsed.content, 'html.parser')

In [20]:
#Input everything else
[element['src'] for element in mySouped.select('img[alt = "Peanuts Comic Strip for August 08, 2014 "]')]

['https://assets.amuniversal.com/b6966aa0f00f01317ff1005056a9545d']

Markdown notes and sentences and analysis written here.

## Question 5

In [119]:
import pandas as pd
from io import StringIO

In [120]:
myreponse = requests.get("https://www.scrapethissite.com/pages/forms/?per_page=600")

In [121]:
mysoup = BeautifulSoup(myreponse.content, 'html.parser')

In [126]:
#followed Dr Wards video
pd.read_html(StringIO(myreponse.text))[0]

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,NaN,0.550,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,0.388,292,278,14
2,Calgary Flames,1990,46,26,NaN,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,0.463,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,0.427,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,0.622,249,198,51
580,Washington Capitals,2011,42,32,8.0,0.512,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,0.451,225,246,-21

Markdown notes and sentences and analysis written here.