## learning objectives 

use lxml.html + xpath() to select elements and attributes

extract text with .text and attributes via .attrib[...]

build pandas DataFrames from scraped lists (names ↔ titles, states ↔ URLs, categories ↔ URLs)

locate specific media by attribute matching (e.g., img[@alt=...])

reproduce BS4 workflows with lxml-only solutions (no BeautifulSoup)

## Question 1

In [12]:
import requests
from lxml import html
import pandas as pd

In [2]:
myresponse = requests.get("https://datamine.purdue.edu/about/about-welcome/")

In [8]:
mytree = html.fromstring(myresponse.content)

In [30]:
#I am naming each of these lines. This one pulls staff names from "names
StaffName = [element.text for element in mytree.xpath('//p[@class = "purdue-home-cta-grid__card-name"]')]

In [28]:
#This pulls from the staff titles by imputting "titleline" which is how I find postions
StaffPostion = [element.text for element in mytree.xpath('//p[@class = "purdue-home-cta-grid__card-titleline"]')]

In [26]:
#This creates a dataframe and is the same as how I did it in Project 1. The first line names the data set for when I print it and the pd pulls. The next two lines I created the name of each column and added the name of each cell information I put in the lines above.   
staffdata = pd.DataFrame({
        "Staff Name": StaffName,
        "Staff Position": StaffPostion
    })

In [27]:
print(staffdata)

            Staff Name                                     Staff Position
0     Mark Daniel Ward                                 Executive Director
1        Kevin Amstutz                              Senior Data Scientist
2        Ashley Arroyo                  Data Science Techincal Specialist
3        Donald Barnes                      Guest Relations Administrator
4        Brandt Barnes                                           Good Boy
5          Maggie Betz  Managing Director of The Data Mine at Indianap...
6         Bryce Castle            Corporate Partners Technical Specialist
7             Cai Chen            Corporate Partners Technical Specialist
8         Doug Crabill                              Senior Data Scientist
9        Peter Dragnev          Corporate Partners Technical Specialist
10    Stacey Dunderman             Lead Program Administration Specialist
11     Jessica Gerlach            Corporate Partners Technical Specialist
12        Dan Hirleman  Regional Director of The Data Mine of the Rockies
13         Jessica Jud             Senior Manager of Expansion Operations
14           Kali Lacy                        Associate Research Engineer
15    Gloria Lenfestey                           Senior Financial Analyst
16  Nicholas Lenfestey            Corporate Partners Technical Specialist
17     Naomi Mersinger  ASL Interpreter / Strategic Initiatives Coordi...
18      Kim Rechkemmer           Senior Program Administration Specialist
19      Betsy Satchell                    Senior Administrative Assistant
20         Shakir Syed        Managing Director of Corporate Partnerships
21  Fulya Gokalp Yavuz                           Director of Data Science

Markdown notes and sentences and analysis written here.

## Question 2

In [54]:
import requests
import pandas as pd
from lxml import html

In [40]:
myresponse = requests.get("https://www.nps.gov")

In [41]:
mytree = html.fromstring(myresponse.content)

In [50]:
StateNames = [element.text.strip() for element in mytree.xpath('//a[@class = "dropdown-item dropdown-state"]')]

In [49]:
StatesURL = ['https://www.nps.gov' + element.attrib['href'] for element in mytree.xpath('//a[@class = "dropdown-item dropdown-state"]')]

In [52]:
StateInfo = pd.DataFrame({
        "State Names": StateNames,
        "State URL": StatesURL
    })

In [53]:
print(StateInfo)

                 State Names                               State URL
0                    Alabama  https://www.nps.gov/state/al/index.htm
1                     Alaska  https://www.nps.gov/state/ak/index.htm
2             American Samoa  https://www.nps.gov/state/as/index.htm
3                    Arizona  https://www.nps.gov/state/az/index.htm
4                   Arkansas  https://www.nps.gov/state/ar/index.htm
5                 California  https://www.nps.gov/state/ca/index.htm
6                   Colorado  https://www.nps.gov/state/co/index.htm
7                Connecticut  https://www.nps.gov/state/ct/index.htm
8                   Delaware  https://www.nps.gov/state/de/index.htm
9       District of Columbia  https://www.nps.gov/state/dc/index.htm
10                   Florida  https://www.nps.gov/state/fl/index.htm
11                   Georgia  https://www.nps.gov/state/ga/index.htm
12                      Guam  https://www.nps.gov/state/gu/index.htm
13                    Hawaii  https://www.nps.gov/state/hi/index.htm
14                     Idaho  https://www.nps.gov/state/id/index.htm
15                  Illinois  https://www.nps.gov/state/il/index.htm
16                   Indiana  https://www.nps.gov/state/in/index.htm
17                      Iowa  https://www.nps.gov/state/ia/index.htm
18                    Kansas  https://www.nps.gov/state/ks/index.htm
19                  Kentucky  https://www.nps.gov/state/ky/index.htm
20                 Louisiana  https://www.nps.gov/state/la/index.htm
21                     Maine  https://www.nps.gov/state/me/index.htm
22                  Maryland  https://www.nps.gov/state/md/index.htm
23             Massachusetts  https://www.nps.gov/state/ma/index.htm
24                  Michigan  https://www.nps.gov/state/mi/index.htm
25                 Minnesota  https://www.nps.gov/state/mn/index.htm
26               Mississippi  https://www.nps.gov/state/ms/index.htm
27                  Missouri  https://www.nps.gov/state/mo/index.htm
28                   Montana  https://www.nps.gov/state/mt/index.htm
29                  Nebraska  https://www.nps.gov/state/ne/index.htm
30                    Nevada  https://www.nps.gov/state/nv/index.htm
31             New Hampshire  https://www.nps.gov/state/nh/index.htm
32                New Jersey  https://www.nps.gov/state/nj/index.htm
33                New Mexico  https://www.nps.gov/state/nm/index.htm
34                  New York  https://www.nps.gov/state/ny/index.htm
35            North Carolina  https://www.nps.gov/state/nc/index.htm
36              North Dakota  https://www.nps.gov/state/nd/index.htm
37  Northern Mariana Islands  https://www.nps.gov/state/mp/index.htm
38                      Ohio  https://www.nps.gov/state/oh/index.htm
39                  Oklahoma  https://www.nps.gov/state/ok/index.htm
40                    Oregon  https://www.nps.gov/state/or/index.htm
41              Pennsylvania  https://www.nps.gov/state/pa/index.htm
42               Puerto Rico  https://www.nps.gov/state/pr/index.htm
43              Rhode Island  https://www.nps.gov/state/ri/index.htm
44            South Carolina  https://www.nps.gov/state/sc/index.htm
45              South Dakota  https://www.nps.gov/state/sd/index.htm
46                 Tennessee  https://www.nps.gov/state/tn/index.htm
47                     Texas  https://www.nps.gov/state/tx/index.htm
48                      Utah  https://www.nps.gov/state/ut/index.htm
49                   Vermont  https://www.nps.gov/state/vt/index.htm
50            Virgin Islands  https://www.nps.gov/state/vi/index.htm
51                  Virginia  https://www.nps.gov/state/va/index.htm
52                Washington  https://www.nps.gov/state/wa/index.htm
53             West Virginia  https://www.nps.gov/state/wv/index.htm
54                 Wisconsin  https://www.nps.gov/state/wi/index.htm
55                   Wyoming  https://www.nps.gov/state/wy/index.htm

Markdown notes and sentences and analysis written here.

## Question 3

In [56]:
import requests
import pandas as pd
from lxml import html

In [58]:
myresponse = requests.get("https://books.toscrape.com")

In [59]:
mytree = html.fromstring(myresponse.content)

In [66]:
BookGenres = [element.text.strip() for element in mytree.xpath('//li/ul/li/a')]

In [64]:
BookURL = ['https://books.toscrape.com/' + element.attrib['href'] for element in mytree.xpath('//li/ul/li/a')]

In [68]:
BookInfo = pd.DataFrame({
        "Book genres": BookGenres,
        "Book URL": BookURL
    })

In [69]:
print(BookInfo)

           Book genres                                           Book URL
0               Travel  https://books.toscrape.com/catalogue/category/...
1              Mystery  https://books.toscrape.com/catalogue/category/...
2   Historical Fiction  https://books.toscrape.com/catalogue/category/...
3       Sequential Art  https://books.toscrape.com/catalogue/category/...
4             Classics  https://books.toscrape.com/catalogue/category/...
5           Philosophy  https://books.toscrape.com/catalogue/category/...
6              Romance  https://books.toscrape.com/catalogue/category/...
7       Womens Fiction  https://books.toscrape.com/catalogue/category/...
8              Fiction  https://books.toscrape.com/catalogue/category/...
9            Childrens  https://books.toscrape.com/catalogue/category/...
10            Religion  https://books.toscrape.com/catalogue/category/...
11          Nonfiction  https://books.toscrape.com/catalogue/category/...
12               Music  https://books.toscrape.com/catalogue/category/...
13             Default  https://books.toscrape.com/catalogue/category/...
14     Science Fiction  https://books.toscrape.com/catalogue/category/...
15    Sports and Games  https://books.toscrape.com/catalogue/category/...
16       Add a comment  https://books.toscrape.com/catalogue/category/...
17             Fantasy  https://books.toscrape.com/catalogue/category/...
18           New Adult  https://books.toscrape.com/catalogue/category/...
19         Young Adult  https://books.toscrape.com/catalogue/category/...
20             Science  https://books.toscrape.com/catalogue/category/...
21              Poetry  https://books.toscrape.com/catalogue/category/...
22          Paranormal  https://books.toscrape.com/catalogue/category/...
23                 Art  https://books.toscrape.com/catalogue/category/...
24          Psychology  https://books.toscrape.com/catalogue/category/...
25       Autobiography  https://books.toscrape.com/catalogue/category/...
26           Parenting  https://books.toscrape.com/catalogue/category/...
27       Adult Fiction  https://books.toscrape.com/catalogue/category/...
28               Humor  https://books.toscrape.com/catalogue/category/...
29              Horror  https://books.toscrape.com/catalogue/category/...
30             History  https://books.toscrape.com/catalogue/category/...
31      Food and Drink  https://books.toscrape.com/catalogue/category/...
32   Christian Fiction  https://books.toscrape.com/catalogue/category/...
33            Business  https://books.toscrape.com/catalogue/category/...
34           Biography  https://books.toscrape.com/catalogue/category/...
35            Thriller  https://books.toscrape.com/catalogue/category/...
36        Contemporary  https://books.toscrape.com/catalogue/category/...
37        Spirituality  https://books.toscrape.com/catalogue/category/...
38            Academic  https://books.toscrape.com/catalogue/category/...
39           Self Help  https://books.toscrape.com/catalogue/category/...
40          Historical  https://books.toscrape.com/catalogue/category/...
41           Christian  https://books.toscrape.com/catalogue/category/...
42            Suspense  https://books.toscrape.com/catalogue/category/...
43       Short Stories  https://books.toscrape.com/catalogue/category/...
44              Novels  https://books.toscrape.com/catalogue/category/...
45              Health  https://books.toscrape.com/catalogue/category/...
46            Politics  https://books.toscrape.com/catalogue/category/...
47            Cultural  https://books.toscrape.com/catalogue/category/...
48             Erotica  https://books.toscrape.com/catalogue/category/...
49               Crime  https://books.toscrape.com/catalogue/category/...

Markdown notes and sentences and analysis written here.

## Question 4

In [1]:
import requests
from lxml import html
import pandas as pd

In [2]:
myresponse = requests.get("https://www.gocomics.com/peanuts/1970/06/22")

In [14]:
mytree = html.fromstring(myresponse.content)

In [4]:
[element.attrib['src'] for element in mytree.xpath('//img[@alt = "Peanuts Comic Strip for June 22, 1970 "]')]

['https://assets.amuniversal.com/2181aa70f895013014ff001dd8b71c47']

In [39]:
#I named it something different and then took the link from the 2015/1/26
myresponses = requests.get("https://www.gocomics.com/peanuts/2015/01/26")

In [40]:
mytree = html.fromstring(myresponses.content)

In [42]:
#I changed the date to January 26 2015
[element.attrib['src'] for element in mytree.xpath('//img[@alt = "Peanuts Comic Strip for January 26, 2015 "]')]

['https://assets.amuniversal.com/b34fbda070e90132b90b005056a9545d']

In [48]:
#This is the last the last part and as with the other two I just added March 14th 2010
lastResponse = requests.get("https://www.gocomics.com/peanuts/2010/03/14")

In [45]:
mytree = html.fromstring(lastResponse.content)

In [49]:
#Same as the ones above
[element.attrib['src'] for element in mytree.xpath('//img[@alt = "Peanuts Comic Strip for March 14, 2010 "]')]

['https://assets.amuniversal.com/cd0963f0f866013014ce001dd8b71c47']

Markdown notes and sentences and analysis written here.

## Question 5

In [32]:
import requests
import pandas as pd
from lxml import html

In [36]:
myresponse = requests.get("https://www.nps.gov/state/in/index.htm")

In [37]:
mytree = html.fromstring(myresponse.content)

In [46]:
TypeParks = [element.text for element in mytree.xpath('//div[@class = "list_left"]/p[@class = "list_left__kicker"]')]

In [44]:
NamesOfParks = [element.text for element in mytree.xpath('//div[@class = "list_left"]/h3/a')]

In [48]:
NamesOfLocation = [element.text for element in mytree.xpath('//div[@class = "list_left"]/p[@class = "list_left__subtitle"]')]

In [51]:
#As with the other creations of the Dataframes, I used the same style this time though just adding another column
GreatPark = pd.DataFrame({
        "Types of Parks": TypeParks,
        "Name": NamesOfParks,
        "Location": NamesOfLocation
    })

In [52]:
print(GreatPark)

             Types of Parks                 Name  \
0  National Historical Park  George Rogers Clark
1             National Park        Indiana Dunes
2   National Historic Trail        Lewis & Clark
3         National Memorial      Lincoln Boyhood

                                            Location
0                                     Vincennes, IN
1                                        Porter, IN
2  Sixteen States: IA,ID,IL,IN,KS,KY,MO,MT,NE,ND,...
3                                  Lincoln City, IN

Markdown notes and sentences and analysis written here.