## Learning objectives

explore data sets using .head(), .shape, .dtypes, .info(), and .describe()

apply value_counts() and groupby() to analyze data distributions and compare methodologies

detect and count null values using .isnull() and .sum()

clean data by dropping rows with nulls using .dropna()

combine columns into new features (e.g., latitude + longitude → location)

group data by new columns and compute averages with .groupby()

encapsulate cleaning and transformation logic into reusable functions

apply the same data cleaning and grouping pipeline to multiple variables (temperature, wind_gust_speed_mph)

In [1]:
import pandas as pd

In [2]:
myDF = pd.read_csv(f'/anvil/projects/tdm/data/whin/weather.csv')

In [3]:
myDF.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,...,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,...,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,...,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,...,202.5,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,...,202.5,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,...,202.5,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0

## Question 1

In [4]:
# Part a
myDF['station_id'].value_counts()

station_id
1      71631
20     56917
147    45600
143    45593
146    45579
145    45509
144    45495
142    45395
149    44060
159    43563
153    43559
157    43534
155    42993
160    42810
156    42807
151    42806
164    38791
163    37908
166    30242
167    27463
168    18581
169    14905
172    14812
179    14772
176    14402
173    13648
175    13314
171    13311
Name: count, dtype: int64

In [5]:
#Part b
myDF.groupby('station_id').size()

station_id
1      71631
20     56917
142    45395
143    45593
144    45495
145    45509
146    45579
147    45600
149    44060
151    42806
153    43559
155    42993
156    42807
157    43534
159    43563
160    42810
163    37908
164    38791
166    30242
167    27463
168    18581
169    14905
171    13311
172    14812
173    13648
175    13314
176    14402
179    14772
dtype: int64

Part c
For Part a, we only have to really one method to get the values however with part b while it asks to use groupby() in order to get the values, you cannot simply just do that but also have to add size which will then pull the values. On top of that the staton_id was placed in different () or [] depending on what method I used. I perfer the first method because to me it has less steps so therefore faster and easier to remeber then doing groupby and then .size

## Question 2

In [6]:
myDF.isnull().sum

<bound method DataFrame.sum of         station_id  latitude  longitude   name  observation_time  temperature  \
0            False     False      False  False             False        False
1            False     False      False  False             False        False
2            False     False      False  False             False        False
3            False     False      False  False             False        False
4            False     False      False  False             False        False
...            ...       ...        ...    ...               ...          ...
999995       False     False      False  False             False        False
999996       False     False      False  False             False        False
999997       False     False      False  False             False        False
999998       False     False      False  False             False        False
999999       False     False      False  False             False        False

        temperature_high  temperature_low  humidity  solar_radiation  ...  \
0                  False            False     False             True  ...
1                  False            False     False             True  ...
2                  False            False     False             True  ...
3                  False            False     False             True  ...
4                  False            False     False             True  ...
...                  ...              ...       ...              ...  ...
999995             False            False     False            False  ...
999996             False            False     False            False  ...
999997             False            False     False            False  ...
999998             False            False     False            False  ...
999999             False            False     False            False  ...

        wind_gust_direction_degrees  pressure  soil_temp_1  soil_temp_2  \
0                             False     False        False        False
1                             False     False        False        False
2                             False     False        False        False
3                             False     False        False        False
4                             False     False        False        False
...                             ...       ...          ...          ...
999995                         True     False         True         True
999996                        False     False         True         True
999997                        False     False         True         True
999998                        False     False         True         True
999999                        False     False         True         True

        soil_temp_3  soil_temp_4  soil_moist_1  soil_moist_2  soil_moist_3  \
0             False        False         False         False         False
1             False        False         False         False         False
2             False        False         False         False         False
3             False        False         False         False         False
4             False        False         False         False         False
...             ...          ...           ...           ...           ...
999995         True         True          True          True          True
999996         True         True          True          True          True
999997         True         True          True          True          True
999998         True         True          True          True          True
999999         True         True          True          True          True

        soil_moist_4
0              False
1              False
2              False
3              False
4              False
...              ...
999995          True
999996          True
999997          True
999998          True
999999          True

[1000000 rows x 26 columns]>

In [7]:
myDF.isnull().sum().dropna

<bound method Series.dropna of station_id                          0
latitude                            0
longitude                           0
name                                0
observation_time                    0
temperature                      4176
temperature_high                 4123
temperature_low                  4123
humidity                         4162
solar_radiation                 48104
solar_radiation_high            12828
rain                                0
rain_inches_last_hour               0
wind_speed_mph                   4032
wind_direction_degrees          95545
wind_gust_speed_mph                 0
wind_gust_direction_degrees     94216
pressure                            0
soil_temp_1                    114043
soil_temp_2                    114041
soil_temp_3                    114037
soil_temp_4                    114036
soil_moist_1                   114124
soil_moist_2                   114170
soil_moist_3                   114174
soil_moist_4                   114150
dtype: int64>

In [8]:
myDF_cleaned = myDF.dropna()

In [ ]:
myDF_cleaned.isnull().sum().sum()

Markdown notes and sentences and analysis written here.

## Question 3

In [ ]:
# Part a
myDF_New = myDF.dropna(subset=['temperature'])

In [ ]:
myDF_New['location'] = myDF_New['latitude'].astype(str) + '_' + myDF_New['longitude'].astype(str)

In [ ]:
#Part c 
average_temperatures = myDF_New.groupby('location')['temperature'].mean()

Markdown notes and sentences and analysis written here.

## Question 4

In [ ]:
# Part a
def calculate_average_wind_gust_speed() -> pd.DataFrame:

myDF_New = df.dropna(subset=['temperature'])
myDF_New['location'] = myDF_New['latitude'].astype(str) + '_' + myDF_New['longitude'].astype(str)
average_temperatures = myDF_New.groupby('location')['temperature'].mean()

return average_temperatures

In [ ]:
average_temperatures

Markdown notes and sentences and analysis written here.

## Question 5

In [ ]:
# Part a 
def calculate_average_wind_gust_speed() -> pd.DataFrame:
myDF_New = df.dropna(subset=['wind_gust_speed_mph'])
myDF_New['location'] = myDF_New['latitude'].astype(str) + '_' + myDF_New['longitude'].astype(str)
average_wind = myDF_New.groupby('location')['wind_gust_speed_mph'].mean()
    
return average_wind

In [ ]:
 average_wind

Markdown notes and sentences and analysis written here.